placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}
        
hoverSwap( $color, $bg-color )
    color: $color
    background-color: $bg-color
    
    &:hover
        color: $bg-color
        background-color: $color
        
closeBtn()
    position: absolute
    top: .5rem
    right: .5rem
    width: 15px
    height: 15px
    overflow: hidden
    cursor: pointer
    
    &:hover
        &::before, &::after
            background: gray

    &::before, &::after
        content: ''
        position: absolute
        height: 2px
        width: 100%
        top: 50%
        left: 0
        margin-top: -1px
        background: #000

    &::before
        transform: rotate(45deg)
    &::after
        transform: rotate(-45deg)