$ChristmasRed = #ed1f24
$DarkBlue = #47669f
$DarkGreen = #158115
$ErrorRed = #b13325
$ErrorRedTransparent = rgba( 217, 88, 73, 0.1 )
$HazyGreen = #4ab74a
$LightGray = #acacac
$LightGrayTransparent = rgba( 172, 172, 172, 0.1 )
$LightGreen = #A4E5A4
$CDN = "https://storage.googleapis.com/mega-poetry-9665"

$DarkerGreen = #0f8141
$LighterGreen = #9ed3ad
$LightestGreen = #cfe8d3
//#231f20
//#c3c5c7