.Admin
    color: $HazyGreen
    height: 100%
    margin: 0rem 2rem 0rem 0rem
    padding-top: 6rem
    text-align: center
    
    .splash
        display: flex
        padding-top: 2rem
    
        >*
            flex: 1
            
        >div
            display: flex
            flex-direction: column
            align-items: center
            justfiy-content: center

        img
            display: block
            margin: 1rem auto

        button
            border-color: $HazyGreen
            color: $HazyGreen
            background-color: white
            border: 1px solid $LightGray
            border-radius: 10px
            box-shadow: 1px 2px 5px #ccc
            padding: 1.25rem
            margin: .5rem 0
            width: 10rem
            text-transform: uppercase

            &:hover
                background-color: $HazyGreen
                color: white

    .views
        height: 100%
