button.back-btn
    align-items: center
    border: none
    display: flex
    font-size: .75rem
    line-height: 1rem
    padding: 0rem

    svg
        height: 1rem

    span
        font-size: .75rem
        padding-left: 1rem

    &:hover
        text-decoration: underline
