button
    background-color: white
    border: 1px solid #b5b5b5
    cursor: pointer
    font-size: 1.25rem
    padding: .5rem 1rem
    text-transform: uppercase
    transition: background-color .5s, color .5s, opacity .25s

    &.submitting
        opacity: .3

button:not(.link)
    transition: background-color,color .5s
    &:hover
        background-color: black
        color: white

button.back-btn
    align-items: center
    border: none
    display: flex
    font-size: .75rem
    line-height: 1rem
    padding: 0rem

    svg
        height: 1rem

    span
        font-size: .75rem
        padding-left: 1rem

    &:hover
        text-decoration: underline
