.ByopResults
    margin-top: 7rem
    padding: 0 2rem

    h3, h4
        font-size: 2rem
        text-align: center

    h4
        color: $DarkResultsGreen
        font-weight: 700
        font-size: 1.5rem
        margin: 2rem 0 1.5rem
        
        >span
            color: $LightGray
            margin-left: .25rem
            font-size: 1.25rem
            
    .division-results
        padding: 0 13%
        
        .divisions-list
            justify-content: center
            flex-wrap: wrap
            margin-top: 1rem
            padding: 0 6rem
            font-weight: bold

            li
                color: $LightGray
                cursor: pointer
                
                &.selected
                    color: $DarkResultsGreen
                
                &:not(:first-child)::before
                    content: '|'
                    margin: 0 .35rem
            
        .division-result

            ol
                li
                    color: $DarkResultsGreen
                    display: flex
                    line-height: 1.8rem
                    font-size: .9rem
                    transition: background-color .25s
                    
                    &:not(:last-child)
                        border-bottom: 1px solid white
                    
                    &:nth-child(odd)
                        background-color: $LightResultsGreen
                    &:nth-child(even)
                        background-color: $CreamResultsGreen
                    
                    >span
                        text-align: center
                        padding: 0 1rem
                        max-width: 10rem
                        min-width: 2.75rem
                        
                        &:not(:last-child)
                            border-right: 1px solid white
                        &:not(.team)
                            flex: 1
                            color: #555
                        &.team
                            flex: 3
                            text-align: left
                            max-width: 19rem

                    &:hover
                        background-color: $LightGray
                        color: $DarkGreen

                        .disc-selection, .shirt-selection
                            opacity: .5
                            
                &.header
                    li
                        font-weight: 700
                        background-color: $DarkResultsGreen
                        color: white
                        text-align: center
                        
                        >span
                            color: white
                        
                            &.team
                                text-align: center
                                
    .ByopSponsors
        padding: 3rem 0 0      


@media (max-width: 767px)
    .ByopResults
        padding: 1rem

        h3, h4
            font-size: 1.5rem
            line-height: 1.5rem
        .division-results
            padding: 0

            .divisions-list
                padding: 0 1rem
                
            .division-result
                ol li
                    font-size: .75rem
                
@media (max-width: 500px)
    .ByopResults
        padding: .5rem
         
        .division-results .division-result
            ol li
                >span
                    padding: 0 .25rem
                    
                    &.team
                        max-width: 8rem
                
@media (min-width: 1400px)
    .ByopResults
        margin-top: 9rem
        .division-results
            padding: 0 25%
        
@media (min-width: 1750px)
    .ByopResults .division-results
        padding: 0 30%