.CartAddition
    position: absolute
    top: -1rem
    right: 1rem
    padding: 1.5rem
    background-color: white
    border: 1px solid
    box-shadow: 1px 1px 3px #666, -1px -1px 3px #666
    text-align: left
    
    img
        max-width: 15rem
    
    h4
        font-size: 1.2rem
        font-weight: bold

    >div
        display: flex
        
        >div        
            &:first-child
                display: flex
                
                >div:nth-child(2)
                    margin: 0 1.5rem
            
    .close-btn
        closeBtn()