.CartAddition
    position: absolute
    top: 0
    right: 2rem
    padding: 1.5rem
    background-color: white
    border: 1px solid
    box-shadow: 1px 1px 3px #666, -1px -1px 3px #666
    text-align: left
    
    h4
        font-size: 1.2rem
        font-weight: bold
    
    >div
        display: flex
        
        >div
            padding: 0 1rem
        
            &:first-child
                display: flex
            
    .close-btn
        closeBtn()