.Checkout
    padding: 7rem 2rem 2rem
    text-align: left
    width: 100%
    
    >div
        display: flex
    
        .forms
            width: 55%
            
            .Form
                .form-group
                    margin: 1rem 0
                    &.nested
                        margin-top: 3rem

            .total
                font-size: 1.5rem
                font-weight: bold
                margin: 2rem 0
            
        .summary
            width: 45%
            text-align: center
            margin-top: 3rem
            
            img
                max-width: 20rem
            
            .List .list
                display: flex
                justify-content: center
        
