.Deleter
    .side-by-side
        justify-content: center

        button
            margin: 0rem 1rem
            
    >div:first-child
        >div:first-child
            margin-bottom: 1rem
            >div
                margin: 1rem 0
                font-weight: bold
            
    >div:last-child
        padding: 0 20%
        ul
            padding: 2rem 0
            font-size: 1.2rem
            font-weight: bold

