.DiscShopping
    .inventory
        display: flex

        .left-panel
            width: 14rem
            border-right: 1px solid black
            padding: 1rem
            
            .filter
                margin: 2rem 0
                text-align: left
                
                >div:first-child
                    font-weight: 700
                    font-size: 1.2rem
                    
                ul
                    overflow-y: auto
                    padding: .5rem

                    li
                        input, label
                            cursor: pointer

                        input
                            display: none

                        input + span:before
                            border: 1px solid #7f83a2
                            border-radius: .25rem
                            content: "\00a0"
                            color: white
                            display: inline-block
                            font: 16px/1em sans-serif
                            height: 16px
                            margin: 0 .25em 0 0
                            padding: 0
                            width: 16px
                        
                        input:checked + span:before
                            background: #3d404e
                            border-radius: .25rem
                            color: white
                            content: "\2713"
                            text-align: center
                            
        .main-panel
            position: relative
            width: 100%
            padding: 1rem
            
            .TypeAhead
                width: 100%
                margin-bottom: 1rem
                
            .disc-type
                display: flex
                flex-direction: column
                text-align: left
                
                ul li
                    margin-left: 1rem
                
                >button
                    margin-top: 1rem
                    height: 2.7rem
            
            .List
                &:nth-child(2)
                    .list
                        overflow-y: auto
                        max-height: 700px
                
                &:nth-child(3) 
                    .list
                        >li
                            width: 100%
                            border-bottom: 1px solid
                            margin-bottom: 1rem
                            cursor: default
                            
                            img
                                width: 15rem
                                
                            .disc-overview
                                >div:first-child
                                    justify-content: space-between

                                    >div
                                        &:first-child
                                            flex: 1
                                        &:nth-child(2)
                                            flex: 1
                                        &:nth-child(3)
                                            flex: 2
                                            text-align: right
                                    
