.DivisionResults
    .division-result
        ol
            li
                color: $DarkerGreen
                display: flex
                line-height: 1.8rem
                font-size: .9rem
                transition: background-color .25s
                
                &:not(:last-child)
                    border-bottom: 1px solid white
                
                &:nth-child(odd)
                    background-color: $LighterGreen
                &:nth-child(even)
                    background-color: $LightestGreen
                
                >span
                    text-align: center
                    padding: 0 1rem
                    
                    &:not(:last-child)
                        border-right: 1px solid white
                    &.place
                        flex: 1
                        min-width: 4.75rem
                        color: #555
                    &.team
                        flex: 8
                        text-align: left
                    &.round1, &.round2, &.total
                        flex: 2
                        color: #555
                            

                &:hover
                    background-color: $LightGray
                    color: $DarkGreen

                    .disc-selection, .shirt-selection
                        opacity: .5
                        
            &.header
                li
                    font-weight: 700
                    background-color: $DarkerGreen
                    color: white
                    text-align: center
                    
                    >span
                        color: white
                    
                        &.team
                            text-align: center
                            
        .sponsors
            padding: 1rem 0
            
@media (max-width: 767px)
    .division-result
        ol li
            font-size: .75rem