.Footer
    position: relative
    color: white
    
    .overlay
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        padding-top: 7%
        padding-left: 10%
        
        >div
            width: 33%
            text-align: center

            >img
                margin-bottom: 1.5rem
             
            .contact
                color: white
                line-height: 1.25rem
                
                >div:first-child
                    text-transform: uppercase
                a
                    color: white
                    
                    svg
                        fill: white
                        height: 2rem
                        margin-top: .5rem


@media (max-width: 1000px)
    .Footer .overlay
        padding-top: 4%
        >div
            >img
                margin-bottom: 1rem
            .contact
                font-size .9rem
                line-height: 1.15rem
                
                a svg
                    height: 1.5rem

@media (max-width: 767px)
    .Footer .overlay
        padding: 10% 20%
        >div
            width: 100%
            
@media (max-width: 425px)
    .Footer .overlay
        padding: 3% 25%
        
        >div
            .contact
                font-size: .8rem

@media (min-width: 1400px)
    .Footer .overlay >div
        .contact
            font-size: 1.5rem
            line-height: 2rem