.List
    li
        cursor: pointer
        
        &:hover
            background-color: $LightGrayTransparent

            svg
                display: inline-block

    >button
        right: 2rem
        top: 10rem
    
    >button+button
        top: 16rem

    .heading
        border-bottom: 1px solid $LightGray
        color: black
        font-size: 1.5rem
        font-weight: 700
        line-height: 1.5rem
        padding: .75rem .25rem
        position: relative

        button
            left: 1rem
            position: absolute
            top: .25rem

        &.side-by-side
            border-bottom: none
            font-size: 1rem
            font-weight: 400
            padding: 0

        &.is-hidden
            .caret-down
                transform: rotate(180deg)
