.ProductDetails
    width: 100%
    
    .disc-details
        width: 100%
        padding: 2rem
        text-align: left
        
        >div:first-child
            >div:first-child
                font-weight: bold
                font-size: 1.5rem

        >div:nth-child(2)
            display: flex
            width: 100%
            
            .image-viewer
                width: 45%
                >ul
                    width: 100%
                    margin-top: .5rem
                    
                    >li
                        cursor: pointer
                        width: 20%
                        margin: .5rem
                            
            >div
                &:nth-child(2)
                    flex: 1
                    padding: 0 1rem
                        
                &:nth-child(3)
                    padding-right: 1rem
                        
            >div:last-child
                >div:first-child
                    font-weight: bold
                    font-size: 1.2rem
                    margin-bottom: .5rem
                    
        >div:last-child
            margin-top: 3rem
            padding-top: 2rem
            border-top: 1px solid
            
            h4
                font-size: 1.3rem
                font-weight: bold

        